<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <% let countWins = 0 %>
    <% let totalgames = 0 %>
    <% for (let p of stats) { %>
        <% if (p.winner == 1) { %>
            <% countWins++ %>
            <% totalgames++ %>
        <% } else { %>
            <% totalgames++ %>
        <% } %>
    <% } %>
    
    <%- include('partials/navbar') -%>
    <h1>You are <%=countWins%>:<%=totalgames%> with this bot</h1>
    <% for (let p of stats) { %>
        <% if (p.winner == 1) { %>
        
           <h5 id="displayWinner">You Won</h5>
            <% } else { %>
                <h5 id="displayWinner">Baby Bot Won</h5>
            <% } %>
            <% for (let g of p.moves) { %>
                <% if (g.plays == 1) { %>
                    <p class="move">You played position <%=g.position%></p>
                <% } else { %>
                    <p class="move">Baby Bot played position <%=g.position%></p>
                <% } %>
                <% } %> 
    <% } %> 
    
</body>
</html>