<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Stats</title>
</head>
<body>
    <% let countWins = 0 %>
    <% let totalgames = 0 %>
    <% for (let p of stats) { %>
        <% if (p.winner == 1) { %>
            <% countWins++ %>
            <% totalgames++ %>
        <% } else { %>
            <% totalgames++ %>
        <% } %>
    <% } %>
    

    <%- include('partials/navbar') -%>
    <% let game = 0 %>
    <% let count = 0 %>

    <div id="gameEnvironment">
        <div  id="gameNumber">Game Number ${game}</div>
        <div id="displayGame"></div>
    </div>
    
    <div id="pickGames">
        <% for (let p of stats) { %>
            <div class="game" onclick="createLogic(<%= JSON.stringify(stats)%>, <%=game%>)"><%=game + 1%>
                <% if (p.winner == 1) { %>
                    <div>You Won</div>
                <% } else { %>
                    <div>Baby Bot Won</div>
                <% } %>
            </div>
            <div class='gameMove' id="forward<%=game%>" onclick="forwardMove(<%= JSON.stringify(stats)%>, <%=game%>)">Forward</div>
            <div class='gameMove' id="backward<%=game%>" onclick="backwardMove(<%= JSON.stringify(stats)%>, <%=game%>)">Backward</div>
            <% game++ %>
        <% } %> 
    </div>
    <!-- <% for (let p of stats) { %>
        <div class="game" onclick="createLogic(<%= JSON.stringify(stats)%>, <%=game%>)">
            <div onclick="createEnvironment()" id="gameNumber"><%=game + 1%></div>
            <% if (p.winner == 1) { %>
                <div>You Won</div>
             <% } else { %>
                 <div>Baby Bot Won</div>
             <% } %>
        </div>
        <div id="displayGame"></div>
        <div id="forward" onclick="forwardMove(<%= JSON.stringify(stats)%>, <%=game%>)">Move Forward</div>
        <div id="backward" onclick="backwardMove(<%= JSON.stringify(stats)%>, <%=game%>)">Move Backward</div>
        <% game++ %>
    <% } %> -->

    <div id="countId"><%=count%></div>
    <div id="moveCounter"><%=count%></div>

    <!-- <div id="displayGame"></div> -->
<!--    <div class ="circlePosition" id="0"></div>
        <div class ="circlePosition" id="1"></div>
        <div class ="circlePosition" id="2"></div>
        <div class ="circlePosition" id="3"></div>
        <div class ="circlePosition" id="4"></div>
        <div class ="circlePosition" id="5"></div>
        <div class ="circlePosition" id="6"></div>

        <div class ="circlePosition" id="7"></div>
        <div class ="circlePosition" id="8"></div>
        <div class ="circlePosition" id="9"></div>
        <div class ="circlePosition" id="10"></div>
        <div class ="circlePosition" id="11"></div>
        <div class ="circlePosition" id="12"></div>
        <div class ="circlePosition" id="13"></div>

        <div class ="circlePosition" id="14"></div>
        <div class ="circlePosition" id="15"></div>
        <div class ="circlePosition" id="16"></div>
        <div class ="circlePosition" id="17"></div>
        <div class ="circlePosition" id="18"></div>
        <div class ="circlePosition" id="19"></div>
        <div class ="circlePosition" id="20"></div>

        <div class ="circlePosition" id="21"></div>
        <div class ="circlePosition" id="22"></div>
        <div class ="circlePosition" id="23"></div>
        <div class ="circlePosition" id="24"></div>
        <div class ="circlePosition" id="25"></div>
        <div class ="circlePosition" id="26"></div>
        <div class ="circlePosition" id="27"></div>

        <div class ="circlePosition" id="28"></div>
        <div class ="circlePosition" id="29"></div>
        <div class ="circlePosition" id="30"></div>
        <div class ="circlePosition" id="31"></div>
        <div class ="circlePosition" id="32"></div>
        <div class ="circlePosition" id="33"></div>
        <div class ="circlePosition" id="34"></div>

        <div class ="circlePosition" id="35"></div>
        <div class ="circlePosition" id="36"></div>
        <div class ="circlePosition" id="37"></div>
        <div class ="circlePosition" id="38"></div>
        <div class ="circlePosition" id="39"></div>
        <div class ="circlePosition" id="40"></div>
        <div class ="circlePosition" id="41"></div> -->
    </div>

    <!-- <h1 id="statHeader">You are <%=countWins%>:<%=totalgames%> with this bot</h1>
    <% for (let p of stats) { %>
        <% if (p.winner == 1) { %>
        
           <h5 id="displayWinner">You Won</h5>
            <% } else { %>
                <h5 id="displayWinner">Baby Bot Won</h5>
            <% } %>
            <% for (let g of p.moves) { %>
                <% if (g.plays == 1) { %>
                    <p class="move">You played position <%=g.position%></p>
                <% } else { %>
                    <p class="move">Baby Bot played position <%=g.position%></p>
                <% } %>
                <% } %> 
    <% } %>  -->
    <script src="/statsapp.js"></script>
</body>
</html>