<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% let countWins = 0 %>
    <% let totalgames = 0 %>
    <% for (let p of players) { %>
        <% if (p.winner == 1) { %>
            <% countWins++ %>
            <% totalgames++ %>
        <% } else { %>
            <% totalgames++ %>
        <% } %>
    <% } %>

    <h1>You are <%=countWins%>:<%=totalgames%> with this bot</h1>
    <% for (let p of players) { %>
        <h5>Player <%=p.winner%> is the winner</h5>
        <% for (let g of p.game) { %>
            <p>Player <%=g.plays%> played position <%=g.position%></p>
        <% } %>
    <% } %> 
    <a href="/connect4">Back to Homepage</a>
</body>
</html>